# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
*.xcuserdatad/

# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# Other
*.swp
*~
.vscode/
